//vars clrs
$noir: #212529;
$gris-fonce: #495057;
$gris-moyen: #ADB5BD;
$gris-clair: #DEE2E6;
$blanc: #F8F9FA;

//vars weight
$extrabold: 800;
$bold: 700;
$semibold: 600;
$regular: 400;

//vers sizes
$title1: 72px;
$title2: 60px;
$title3: 48px;
$subtitle1: 36px;
$subtitle2: 30px;
$subtitle3: 24px;
$text1: 20px;
$text2: 18px;
$text3: 16px;
$smalltext1: 14px;
$smalltext2: 12px;

//mixins
@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin button($color, $bckg-clr, $hover, $bckg-hover) {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 15px 18px;
    color: $color;
    background-color: $bckg-clr;
    font-size: 16px;
    font-weight: $semibold;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
        transform: scale(0.9);
        background-color: $bckg-hover;
        color: $hover;
    }

}

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

button {
    outline: none;
    border: none;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: $gris-fonce;
}

section {
    background-color: $blanc;
}

.footer {
    display: flex;
    padding: 50px 167px;
    background-color: $noir;
    color: $blanc;
    justify-content: space-between;

    &-social {
        display: flex;
        gap: 16px;
    }
}