@import 'general';

.landing {
    height: 100dvh;
    width: 100%;

    &-header {
        display: flex;
        align-items: center;
        background-color: $noir;
        padding: 24px 167px;
        justify-content: space-between;

        &-container {
            display: flex;
            width: 30%;

            &-search {
                width: 100%;
                background-color: $blanc;
                padding-left: 4px;
                border-radius: 0px 8px 8px 0px;
                height: 45px;
            }

            &-icon {
                background-color: $blanc;
                padding-left: 16px;
                border-radius: 8px 0px 0px 8px;
            }
        }

        &-connexion {
            display: flex;
            align-items: center;
            gap: 3px;
            @include button($noir, $blanc, $blanc, $gris-fonce)
        }
    }
}