@import "header";
@import "footer";
@import "general";

//main css
.landing {
    height: 100dvh;
    width: 100%;

    &-main {
        height: calc(100% - 97px);
        background-image: url("assets/hero.png");
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%), url('assets/hero.png') no-repeat;
        background-size: cover;
        color: $blanc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px 167px;
        gap: 32px;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &-title {
                @include font($title1, $extrabold);
                line-height: 1em;

                @include media($medium-screen) {
                    font-size: 52px;
                    text-align: center;
                }
            }

            &-paragraph {
                @include font($text3, $regular);
                color: $gris-clair;

                @include media($medium-screen) {
                    text-align: center;
                }
            }
            
        }

        &-buttons {
            display: flex;
            gap: 16px;

            &-buy {
                @include button($noir, $blanc, $blanc, $gris-fonce);

                @include media($medium-screen) {
                    width: 100%;
                }
            }

            &-sell {
                @include button($blanc, transparent, $noir, $blanc);
                border: 1px solid $blanc;

                @include media($medium-screen) {
                    width: 100%;
                    justify-content: center;
                }
            }
            
            @include media($medium-screen) {
                flex-direction: column;
                gap: 16px;
            }
        }
        
        @include media($medium-screen) {
            background-position: center;
            padding: 50px 34px;
            align-items: center;
            height: 100%;
        }
    }
}

.stats {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 167px;
    margin-inline: auto;

    &-img {
        display: flex;
        justify-content: center;
        width: auto;

        &-brainstorm {
            width: 100%;

            @include media($medium-screen) {
                width: 80%;
            }
        }

        @include media($medium-screen) {
            width: 100%;
        }
    }
    
    &-container {
        display: grid;
        gap: 40px;
        grid-template-areas: 
            "container container container"
            "data data data";
        margin-left: 80px;
        width: 50%;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            grid-area: container;

                &-title {
                    @include font(46px, $extrabold);
                    color: $noir;
                    line-height: 46px;
                    
                    @include media($medium-screen) {
                        font-size: 40px;
                        line-height: 36px;
                        text-align: center;
                    }
                }

                &-paragraph {
                    @include font(16px, $regular);
                    color: $gris-moyen;
                    line-height: 1.2em;

                    @include media($medium-screen) {
                        text-align: center;
                    }
                }
            
            @include media($medium-screen) {
                gap: 16px;
            }
        }

        &-data {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-area: data;
            gap: 32px;
            width: 100%;

            &-infos {
                width: 100%;

                &-nbr {
                    @include font(46px, $semibold);
                    color: $noir;

                    @include media($medium-screen) {
                        text-align: center;
                    }
                }
                
                &-name {
                    @include font(16px, $semibold);

                    @include media($medium-screen) {
                        text-align: center;
                    }
                }

                &-paragraph {
                    display: none;

                    @include media($medium-screen) {
                        display: block;
                        @include font(14px, $regular);
                        color: $gris-moyen;
                        text-align: center;
                    }
                }

                @include media($medium-screen) {
                    gap: 8px;
                    width: 65%;
                }
            }

            @include media($medium-screen) {
                grid-template-columns: 1fr;
                justify-items: center;
            }
        }

        @include media($medium-screen) {
            margin-left: 0px;
            width: 100%;
        }
    }

    @include media($medium-screen) {
        padding: 50px 34px;
        flex-direction: column;
        gap: 48px;
    }
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 80px 167px;

    &-infos {
        display: flex;
        margin-right: 80px;
        flex-direction: column;
        gap: 24px;
        width: 50%;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &-title {
                @include font(46px, $extrabold);
                color: $noir;
                line-height: 46px;
                text-align: center;

                @include media($medium-screen) {
                    font-size: 40px;
                    line-height: 36px;
                    text-align: center;
                }
            }

            &-paragraph {
                @include font(16px, $regular);
                color: $gris-moyen;
                text-align: center;
                line-height: 1.2em;
            }

            @include media($medium-screen) {
                gap: 16px;
            }
        }

        &-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 2px solid $gris-clair;
            border-radius: 6px;
            background-color: #FFFFFF;
            box-shadow: 0px 0.5px 2px 0px rgba(25, 33, 61, 0.10);

            &-text {
                display: flex;
                justify-content: space-between;
                transition: all 0.5s ease;

                &-paragraph {
                    @include font(16px, $semibold);
                    color: $noir;
                }
    
                &-button {
                    background: none;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    user-select: none;
                }
            }

            &-answer {
                height: 0;
                overflow: hidden;
                transition: height 0.5s ease;
                @include font(14px, $regular);
                color: $gris-moyen;
            }
        }
    }

    &-img {
        width: auto;
        justify-content: center;
        display: flex;

        &-idea {
            width: 100%;

            @include media($medium-screen) {
                width: 80%;
            }
        }

        @include media($medium-screen) {
            width: 100%;
        }
    }

    @include media($medium-screen) {
        padding: 50px 34px;
        flex-direction: column;
        gap: 48px;

        &-infos {
            width: 100%;
            margin-right: 0;
        }
    }
}